.owner-info {
  color: rgb(28, 32, 92);
}
.owner-info>h4 {
  color: #777;
}


.dog-container {
  /* border: 1px solid #ccc; */
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
}

.dog-container>.btn {
  margin-bottom: 10px;
}